<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% block body_block %}
{% if not user.is_authenticated %}
  <div class="jumbotron">
    {% if registered %}
    <h1>thank you for registering!</h1>
    <h2>You will be redirected </h2>
    <script>
    function redirect(){
       window.location.href = "/user_login";
    }

    setTimeout(redirect, 3000); //2000 is equivalent to 2 seconds
</script>
    {% else %}
      <h1>reigster here</h1>
      <h3>fill out the form</h3>

      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="" value="Register">
      </form>


  {% endif %}
  </div>
{% else %}
<p> u already are a user</p>
{% endif %}
{% endblock %}
