{% extends 'myapp/base.html' %}
{% block body_block %}
{% load fullurl %}

  <div class="container-story-list">
    {% if not user.userprofile.member_of.all %}
    oopsie
    {% else %}
      {% for story in user.userprofile.member_of.all %}

        <div class="story">

          <div class="story-container">

            <div class="story-title">
              <h2 class="stitle" >{{ story.title }}</h2>
              <h4>{{story.short}}</h4>
              {% if user == story.author %}
                <i class="dropdown hover-icon fas fa-pen">
                  <div class="dropdown-content">
                    {% if story in user.userprofile.starred.all  %}
                      <a class="dropdown-link navlink" href="{% url 'myapp:story_unstarr'  pk=story.pk %}">UNSTAR</a>
                    {% else %}
                      <a class="dropdown-link navlink" href="{% url 'myapp:story_starr'  pk=story.pk %}">STAR</a>
                    {% endif %}
                    <a class="dropdown-link navlink" href="{% url 'myapp:updatestory'  pk=story.pk %">Edit</a>
                  <a class="dropdown-link navlink" onclick="myFunction()" href="#">Invite</a>
                  <input type="text" value="{% fullurl 'myapp:add_member' uuid=story.uuid %}" style="position: absolute; left: -1000px; top: -1000px" id="myInput">
                    <a class="dropdown-link navlink"  href="{% url 'myapp:story_delete' pk=story.pk %}">Delete</a>
                  </div>
                </i>
                {% else %}
                  {% if story in user.userprofile.starred.all  %}

                  <a class="dropdown-link navlink" href="{% url 'myapp:story_unstarr'  pk=story.pk %}"><i class="hover-icon far fa-star"></i></a>
                {% else  %}
                  <a class="dropdown-link navlink" href="{% url 'myapp:story_starr'  pk=story.pk %}"><i class=" hover-icon fas fa-star"></i></a>
                {% endif %}
              {% endif %}
            </div>

            <div class="story_inside" >
              <div class="story-text">
                {{ story.description }}
              </div>
              <a href="{% url 'myapp:story_detail' pk=story.pk %}" class="btn-story">
                Open
              </a>
            </div>

          </div>
        </div>

    {% endfor %}
    {% endif %}
  <div class="story">
    <div class="story-container-last">
      <h2 class="story-title">Add a story</h2>
      <a href="{% url 'myapp:addstory' %}">
        <div class="add_eventb">
          <i class="fas fa-plus-circle btn-story btn-story-last"></i>
        </div>
      </a>
    </div>
  </div>












<script>
  $(".hover-icon").toggle();
  $(".story-text").toggle();
  $(document).ready(function(){
    $(".stitle").click(function(){
      $(this).parent().parent().find(".story-text").toggle(200);
    });
  });



 $(function() {
  $('.story').hover(function() {
    $(this).find('.hover-icon').toggle(200);
  }, function() {
    $(this).find('.hover-icon').toggle(200);
  });
});

function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}


</script>

{% endblock %}
  <!-- <a href="{% url 'myapp:story_unstarr' pk=starred.pk %}" class="btn-story"> -->
