{% extends 'myapp/base.html' %}
{% block body_block %}
{% load fullurl %}

  <div class="container-story-list">
    {% if not user.userprofile.member_of.all %}
        Click below to create your first story
    {% else %}
      {% for story in user.userprofile.member_of.all %}

        <div class="story">

          <div class="story-container">

            <div class="story-title">
              <h2 class="storytitle" >{{ story.title }}</h2>

              {% if story in user.userprofile.starred.all  %}

                <a class="buttonn butto fas fa-star" href="{% url 'myapp:story_unstarr'  pk=story.pk %}" > </a>
              {% else  %}
                <a class="buttonn butto far fa-star" href="{% url 'myapp:story_starr'  pk=story.pk %}" > </a>
              {% endif %}

              {% if user == story.author %}

<input type="text" value="{% fullurl 'myapp:add_member' uuid=story.uuid %}" style="position: absolute; left: -1000px; top: -1000px" id="myInput">
                    <a onclick="myFunction()"class="fas fa-user-plus butto buttonn"></a>

                    <a class="fas fa-pen butto buttonn" href="{% url 'myapp:updatestory'  pk=story.pk %}"></a>
                    <a class="fas fa-trash butto buttonn" href="{% url 'myapp:story_delete' pk=story.pk %}"></a>

                {% else %}

              {% endif %}


            </div>
            <div class="story-text">
                {{ story.description }}
              </div>
<a href="{% url 'myapp:story_detail' pk=story.pk %}" class="btn-story">
            <div class="story_inside" >


                <div>Open</div>

            </div>
</a>
          </div>
        </div>

    {% endfor %}
    {% endif %}
  <div class="story">
    <div class="story-container-last">
      <h2 class="story-title stitle">Add a story</h2>
      <a href="{% url 'myapp:addstory' %}">
        <div class="add_eventb">
          <i class="fas fa-plus-circle btn-story btn-story-last"></i>
        </div>
      </a>
    </div>
  </div>












<script>
  $(".hover-icon").toggle();
//   $(".story-text").toggle();
  $(document).ready(function(){
    $(".stitle").click(function(){
      $(this).parent().parent().find(".story-text").toggle(200);
    });
  });



 $(function() {
  $('.story').hover(function() {
    $(this).find('.hover-icon').toggle(200);
  }, function() {
    $(this).find('.hover-icon').toggle(200);
  });
});

function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}


</script>

{% endblock %}
  <!-- <a href="{% url 'myapp:story_unstarr' pk=starred.pk %}" class="btn-story"> -->
