{% extends 'myapp/base.html' %}
{% block body_block %}
{% load fullurl %}

{%  if story in user.userprofile.member_of.all  %}

  <div class="top-bar">
    <div class="bread">
      <a href="{% url 'myapp:story_list' %}">Story list </a>
      ->
        {{story.title}}
    </div>
  {% if user == story.author %}
    <a class="fas fa-plus-circle butto     "  href="{% url 'myapp:addstoryline' pk=story.pk %}">
      Add storyline
    </a>
     {% endif %}
    <input type="text" value="{% fullurl 'myapp:add_member' uuid=story.uuid %}" style="position: absolute; left: -1000px; top: -1000px" id="myInput">
    <a onclick="myFunction()"class="fas fa-share butto">share/invite</a>
    {% if user == story.author %}
    <i class="dropdown fas fa-cog butto">
      <div class="dropdown-content">
        {% if story in user.userprofile.starred.all  %}
          <a class="dropdown-link navlink" href="{% url 'myapp:story_unstarr'  pk=story.pk %}">UNSTAR</a>
        {% else %}
          <a class="dropdown-link navlink" href="{% url 'myapp:story_starr'  pk=story.pk %}">STAR</a>
        {% endif %}
      <a class="dropdown-link navlink" href="{% url 'myapp:updatestory'  pk=story.pk %}">edit</a>
      <a class="dropdown-link navlink" href="{% url 'myapp:story_delete' pk=story.pk %}">Delete</a>
      </div>
    </i>
    {% else %}
      {% if story in user.userprofile.starred.all  %}

        <a class="dropdown-link navlink butto hover-icon far fa-star" href="{% url 'myapp:story_unstarr'  pk=story.pk %}" > unstar</a>
      {% else  %}
        <a class="dropdown-link navlink butto hover-icon fas fa-star" href="{% url 'myapp:story_starr'  pk=story.pk %}" > star</a>
      {% endif %}
    {% endif %}
    <i class="showall fas fa-grip-lines  butto unpressed"></i>

  </div>



  <div class="container-storydetail">
    {% for storyline in story.storylines.all %}
      <div class="storyline">
        <div class="storyline-content">
          <div class="story-title">


            <h2>{{storyline.title}}</h2>
            {% if user == story.author %}
            <i class="dropdown hover-icon fas fa-pen">
              <p class="description">{{storyline.description}}</p>
              <div class="dropdown-content">


                <a class="dropdown-link navlink" href="{% url 'myapp:updatestoryline'  pk=storyline.pk %}">Edit</a>

                <a class="dropdown-link navlink" href="{% url 'myapp:storyline_delete'  pk=storyline.pk %}">Delete</a>

              </div>
            </i>
            {% endif %}
          </div>
          <div class="container-events">
            {% for event in storyline.events.all %}
              <div class="eventb">
                <h4 class="show">
                  <a  href="{% url 'myapp:complete_toggle' pk=event.pk %}">
                    <i class="far {% if event.completed %} fa-check-circle{%else%} fa-circle{% endif %}"></i>
                  </a>
                  {{ event.title }}
                </h4>
                          <div class="hid">
                {% if event.completed == True %}
                  <p class="date">completed: {{event.completed_date|date:'G i D M Y' }}</p>

                {% endif %}
                <p>{{ event.text }}</p>
                  <a href="{% url 'myapp:storyevent_delete'  pk=event.pk %}"> Delete </a>
                      <small class="open-comments">Comments:

                        {{ event.comments.count }}

                         </small>

                      <div class="comments">



                      {% if event.comments.all  %}
                    {% for comment in event.comments.all %}
                    <div class="">
                                            <img class="avatar" src="{{ comment.author.userprofile.profile_pic.url }}" alt="Av"/>
                                            {{comment.author.userprofile.name}}:

                                            <p>{{comment.created_date|date:'G i D M Y' }}</p>
                    <div class="comment">


                      {{comment.text}}</div></div>
                    {% endfor %}
                  {% endif %}
                  <a class="fas fa-plus-circle" href="{% url 'myapp:addeventcomment' pk=event.pk %}">

                  </a>
                </div>

                  </div>

              <!-- <span class="{% if event.completed %}glyphicon glyphicon-ok{% endif %}"></span> -->
              </div>
            {% endfor %}
          </div>
          <a href="{% url 'myapp:addevent' pk=storyline.pk %}">
            <div class="add_eventb">
              <i class="fas fa-plus-circle btn-story btn-story-last butto"></i>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  Listen here you little shit
{% endif %}





  <script>
  $(".hid").toggle();
  $(".description").toggle();
  $('.comments').toggle();
  $(document).ready(function(){
    $(".show").click(function(){

    $(this).parent().find(".hid").toggle();


    });
  });

  $(document).ready(function(){
    $(".show_description").click(function(){
      if ( $(this).parent(".col").find(".description").is(':hidden')){
        $(this).parent(".col").find(".description").show(); }
      else {
        $(this).parent(".col").find(".description").hide();
      }
    });
  });

  $(document).ready(function(){
    $(".showall").click(function(){
        $(this).toggleClass('unpressed pressed');
        if ($(this).hasClass('unpressed')) {
          $(".hid").hide();
        }
        else if ($(this).hasClass('pressed')) {
          $(".hid").show();

        }


    });
  });




  $(document).ready(function(){
    $(".open-comments").click(function(){
        $(this).parent().find('.comments').toggle();

      });
    });
  function myFunction() {
    /* Get the text field */
    var copyText = document.getElementById("myInput");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    /* Alert the copied text */
    alert("Copied the text: " + copyText.value);
  }

  </script>


  {% endblock %}
