{% extends 'myapp/base.html' %}
{% block body_block %}
{% load fullurl %}
{%  if story in user.userprofile.member_of.all  %}
<div class="top-bar">
   <div class="crumbs">
      <a href="{% url 'myapp:story_list' %}">Story list</a>
      <i class="fas fa-chevron-right"></i>
      {{story.title}}
   </div>
   <div>
      {% if user == story.author %}
          <a class="fas fa-plus-circle button top-bar__button    "  href="{% url 'myapp:addstoryline' pk=story.pk %}">
             <p>Add a storyline</p>
          </a>
          <a class="fas fa-pen button top-bar__button" href="{% url 'myapp:updatestory'  pk=story.pk %}">
             <p>Edit</p>
          </a>
          <a class="fas fa-trash button top-bar__button" href="{% url 'myapp:story_delete' pk=story.pk %}">
             <p>Delete</p>
          </a>
          <input type="text" value="{% fullurl 'myapp:add_member' uuid=story.uuid %}" style="position: absolute; left: -1000px; top: -1000px" class="uuid-input">
          <a class="fas fa-user-plus button top-bar__button">
             <p>Invite</p>
          </a>
      {% else %}
          <a class="fas fa-user-slash button top-bar__button "href="{% fullurl 'myapp:remove_member' pk=story.pk %}">
             <p>Remove yourself</p>
          </a>
      {% endif %}
      {% if story in user.userprofile.starred.all  %}
          <a class=" button fas fa-star top-bar__button" href="{% url 'myapp:story_unstarr'  pk=story.pk %}" >
             <p>Unstar</p>
          </a>
      {% else  %}
          <a class="button  far fa-star top-bar__button" href="{% url 'myapp:story_starr'  pk=story.pk %}" >
             <p>Star</p>
          </a>
      {% endif %}
      <!--<i class="showall fas fa-grip-lines  button unpressed topbut "></i>-->
   </div>
</div>
<div class="storyline-container">
   {% for storyline in story.storylines.all %}
   <div class="storyline">
      <div class="storyline-content">
         <div class="storyline-header">
            <span class="storyline-header__title">{{storyline.title}}</span>
            {% if user == story.author %}
                <span class="storyline-options">
                   <a class="fas fa-pen button " href="{% url 'myapp:updatestoryline'  pk=storyline.pk %}">
                      <p>Edit</p>
                   </a>
                   <a class="fas fa-trash button " href="{% url 'myapp:storyline_delete'  pk=storyline.pk %}">
                      <p>Delete</p>
                   </a>
                </span>
            {% endif %}
         </div>
         <div class="events-container">
            <div class="completed-events-box">
               <h5 class="completed-events-box__text">
                  Completed events:  <span class="completed-events-box__count"></span>
               </h5>
            </div>
            {% for event in storyline.events.all %}
                {% if event.completed == True %}
                    <div class="event event--completed " >
                       <h5>
                          <span>
                          <i class="complete far {% if event.completed %} fa-check-circle{% else %} fa-circle{% endif %}" data-href="{% url 'myapp:complete_toggle' pk=event.pk %}" data-id="{{event.pk}}"></i>
                          </span>
                          <span class="event-title">{{ event.title }}</span>
                       </h5>
                       {% if user == story.author %}
                           <a class="fas fa-trash button event__delete-button" href="{% url 'myapp:storyevent_delete'  pk=event.pk %}"></a>
                       {% endif %}
                       <div class="event-hide">
                          <p class="date">completed: {{event.completed_date|date:'G:i j M Y' }}</p>
                          <p class="event-text">{{ event.text }}</p>
                          <div class="open-comments">Comments:
                             {{ event.comments.count }}
                          </div>
                          <div class="comments">
                             {% if event.comments.all  %}
                             {% for comment in event.comments.all %}
                             <div class="comment-unit">
                                <div class="comment-header">
                                   <img class="commentavatar" src="{{ comment.author.userprofile.profile_pic.url }}" alt="Av"/>
                                   <span class="comment-date">posted on {{comment.created_date|date:'G:i j M Y' }}</span>
                                </div>
                                <div class="comment">
                                   <span class="comment-author">{{comment.author.userprofile.name}}:</span>   {{comment.text}}
                                </div>
                             </div>
                             {% endfor %}
                             {% endif %}
                             <div class="" >
                                <form method="post" action="{% url 'myapp:addeventcomment' pk=event.pk %}">
                                   {% csrf_token %}
                                   {{ form.as_p }}
                                   <div class="comment-button">
                                      <button type="submit" class="form-button"  >Comment</button>
                                   </div>
                                </form>
                             </div>
                          </div>
                       </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% for event in storyline.events.all %}
            {% if event.completed == False %}
            <div class="event" >
               <h5 >
                  <span  href="#">
                  <i class="complete far {% if event.completed %} fa-check-circle{%else%} fa-circle{% endif %}" data-href="{% url 'myapp:complete_toggle' pk=event.pk %}" data-id="{{event.pk}}"></i>
                  </span>
                  <span class="event-title">{{ event.title }}</span>
               </h5>
               {% if user == story.author %}
               <a class="fas fa-trash button event__delete-button" href="{% url 'myapp:storyevent_delete'  pk=event.pk %}"></a>
               {% endif %}
               <div class="event-hide">
                  <p class="event-text">{{ event.text }}</p>
                  <div class="open-comments">Comments:
                     {{ event.comments.count }}
                  </div>
                  <div class="comments">
                     {% if event.comments.all  %}
                     {% for comment in event.comments.all %}
                     <div class="comment-unit">
                        <div class="comment-header">
                           <img class="commentavatar" src="{{ comment.author.userprofile.profile_pic.url }}" alt="Av"/>
                           <span class="comment-date">posted on {{comment.created_date|date:'G:i j M Y' }}</span>
                        </div>
                        <div class="comment">
                           <span class="comment-author">{{comment.author.userprofile.name}}:</span>   {{comment.text}}
                        </div>
                     </div>
                     {% endfor %}
                     {% endif %}
                     <div class="" >
                        <form method="post" action="{% url 'myapp:addeventcomment' pk=event.pk %}">
                           {% csrf_token %}
                           {{ form.as_p }}
                           <div class="comment-button">
                              <button type="submit" class="form-button"  >Comment</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
               <!-- <span class="{% if event.completed %}glyphicon glyphicon-ok{% endif %}"></span> -->
            </div>
            {% endif %}
            {% endfor %}
         </div>
         {% if user == story.author %}
         <a href="{% url 'myapp:addevent' pk=storyline.pk %}">
            <div class="add_eventb">
               <i class="fas fa-plus-circle btn-story btn-story-last "></i>
            </div>
         </a>
         {% endif %}
      </div>
   </div>
   {% empty %}
   <!--####-->
   {% if user == story.author %}
   <a href="{% url 'myapp:addstoryline' pk=story.pk %}" class="storyline storyline-last">
      <div class="storyline-content">
         <div class="storyline-header">
            <span class="storyline-header__title">Click here to add the first storyline</span>
         </div>
         <div class="container-events">
            <div class="event" >
            </div>
         </div>
      </div>
      <div href="#">
         <div class="add_eventb">
            <i class="fas fa-plus-circle btn-story btn-story-last "></i>
         </div>
      </div>
</div>
</a>
{% endif %}
{% endfor %}
</div>
{% else %}
Listen here you little shit
{% endif %}
<script></script>
{% endblock %}